<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- JQuery -->
        <script src='script1.js'></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Bootstrap CSS, theme and JS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <title>{% block title %}Welcome in this Universe!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                h1 {
                    font-size: 58px;
                    color: black;
                    font-family: Snap ITC,Arial Black, Arial;
                    text-align: center;
                }
                h2 {
                    font-family: snap ITC,Old English Text MT;
                    font-size: 34px;
                    color: red;
                    text-align: center;
                }
                h3 {
                    font-size: 40px;
                    color: black;
                    font-family: Arial Black, Arial;
                    text-align: center;
                }
                body {
                    background-color: aquamarine;
                    margin-left: 150px;
                    margin-right: 150px;
                }
                img {
                    height: 100px;
                    width: 100px;
                }
                .dyv2 {
                    background-color: azure;
                    alignment-adjust: middle;
                    text-align: center;


                }
                td{
                    height: 160px;
                    width: 160px;
                }
                table {
                    width: 500px;
                    margin: auto;
                    alignement-adjust: middle;
                    color: blue;
                    background-color: cyan;

                }
                nav {
                    border-radius :30px 30px 1px 1px;
                    background-color: azure;
                }
                header {
                    background-color: azure;
                }
                footer {
                    border-radius : 1px 1px 30px 30px;
                    background-color: gold;

                }
            </style>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <a href="{{ path('homepage') }}">accueil</a>
            <a href="{{ path('game') }}">game</a>
            <a href="{{ path('inscription') }}">inscription</a>
        </header>

        <main>
            {% block body %} {% endblock %}
        </main>

        <footer>
            <p>section footer</p>
            <br><br>
        </footer>

        {% block javascripts %} {% endblock %}
    </body>
</html>
