/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 3 sept. 2018, 08:35:37
    Author     : 13010-18-01
*/

/* On défini les styles globaux à notre site ; généralement la police de caractère */
header {
}
header button {
    margin: 20px;
}

h1 {
    font-size: 58px;
    color: black;
    font-family: Snap ITC,Arial Black, Arial;
    text-align: center;
}
h2 {
    font-family: snap ITC,Old English Text MT;
    font-size: 34px;
    color: red;
    text-align: center;
}
h3 {
    font-size: 40px;
    color: black;
    font-family: Arial Black, Arial;
    text-align: center;
}
body {
    background-color: aquamarine;
    margin-left: 150px;
    margin-right: 150px;
}
img {
    height: 100px;
    width: 100px;
}
.dyv2 {
    background-color: azure;
    alignment-adjust: middle;
    text-align: center;


}
td{
    height: 160px;
    width: 160px;
}
table {
    width: 500px;
    margin: auto;
    text-align: center;
    color: blue;
    background-color: cyan;

}
nav {
    border-radius :30px 30px 1px 1px;
    background-color: white;
}
header {
    background-color: white;
}
footer {
    border-radius : 1px 1px 30px 30px;
    background-color: gold;

}
.far {
    width: 125px;
    margin: auto;
    alignment-adjust: middle;
}
.fas {
    width: 125px;
    margin: auto;
    alignment-adjust: middle;
}

