{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>

    <header>
        <div class="row">
            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/logopc5.jpg') }}" alt="jeu morpion" title="morpion" />
            </div>
            <div class="col-md-8">
                <h2>Fight-The-Crabs-Game</h2>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/jeu_morpion.jpg') }}" alt="jeu morpion" title="morpion" />
            </div>
        </div>
    </header>

    <h1>Grille</h1>

    <div id="board" align="center">
        {% include '@App/Default/board.html.twig' %}
    </div>

    <script>
        $(document).ready(function () {
            console.log('ready');
            $('#board').on('click', 'td', function () {
                console.log('click ' + $(this).data('x') + ' ' + $(this).data('y'));
                // appel ajax sur /game/play/{x}/{y}
                $.ajax({
                    url: '/fight-the-crabs-game/web/app_dev.php/game/play/' + $(this).data('x') + '/' + $(this).data('y'),
                    type: 'GET',
                    success: function (response) {
                        if (response !== '') {
                            $('#board').html(response);
                        }
                    }
                });
            });
        }
        );
    </script>
{% endblock %}