{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>

    <header>
        <div class="row">
            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/logopc5.jpg') }}" alt="jeu morpion" title="morpion" />
            </div>
            <div class="col-md-8">
                <h2>Fight-The-Crabs-Game</h2>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/jeu_morpion.jpg') }}" alt="jeu morpion" title="morpion" />
            </div>
        </div>
    </header>

    <h1>Grille</h1>
    {{ dump(grid) }}

    <div align="center">
        <table border="5">
            {% for row in grid %}
                <tr>
                    {% for cell in row %}
                        <td>
                            <span class="{{ cell }} fa-7x"></span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form>
            <input type="submit" name="rejouer" value="rejouer" />
        </form>
    </div>
{% endblock %}

