{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>
        <div class="col-md-2"></div>
    </div>
    <nav>
        <h1>BIENVENUE CHER GAMER</h1>
    </nav>
    <header>
        <div class="row">
            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/logopc5.jpg') }}" alt="jeu morpion" title="morpion" />
            </div>
            <div class="col-md-8">
                <h2>Fight-The-Crabs-Game</h2>
            </div>
            <div class="col-md-2">
                <img src="{{ asset('bundles/app/images/jeu_morpion.jpg') }}" alt="jeu morpion" title="morpion" />

            </div>
        </div>
    </header>


    <br />
    <div>
        <table border="10">
            <tr>
                <td><span class="fas fa-times fa-7x"></span></td>
                <td><span class="fas fa-times fa-7x"></span></td>
                <td><span class="fas fa-times fa-7x"></span></td>
            </tr>
            <tr>
                <td><span class="far fa-circle fa-7x"></span></td>
                <td><span class="fas fa-times fa-7x"></span></td>
                <td><span class="far fa-circle fa-7x"></span></td>
            </tr>
            <tr>
                <td><span class="far fa-circle fa-7x"></span></td>
                <td><span class="fas fa-times fa-7x"></span></td>
                <td><span class="far fa-circle fa-7x"></span></td>
            </tr>
        </table>
    </div>
    <a href="{{ path('inscription') }}"><h2>ENTRER</h2></a>
{% endblock %}