{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome </span></h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}